<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">

            <form (submit)="search()" [class.areResults]="results">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" aria-describedby="search" [(ngModel)]="query" name="search" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>                        
                        </button>
                    </span>
                </div>
            </form>
            
            <div id="results-wrapper" [class.areResults]="results">
                <a *ngIf="results?.length" (click)="downloadResults($event)" href="results.csv">Download results</a>
                <ol id="results">
                    <li *ngIf="!results?.length">
                        <h2>No results to display</h2>
                    </li>
                    <li *ngFor="let result of results">
                        <a [href]="result.url">
                            <h2>{{result.title}}</h2>
                        </a>
                        <div class="source">{{result.url}}</div>
                        <p [innerHtml]="result.summary"></p>
                    </li>
                    <li>
                </ol>
                <div>
                    <a id="prev" href="prev" (click)="previous($event)" [class.disabled]="!isPrevious">
                        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Previous
                    </a>
                    <a id="next" href="next" (click)="next($event)" [class.disabled]="!isNext">
                        Next <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>