@import '../../node_modules/bootstrap/less/bootstrap';
@import './variables';
@import './loader';

body{
    padding: 20px 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.form-control, input, textarea {
    border: 2px hidden transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-default {
    color: @text-color;
    background-color: #464545;
    border-color: #464545;
}

.btn-default:hover {
    color: @text-color;
    background-color: #2c2c2c;
    border-color: #272727;
}

.input-group-addon {
    color: @text-color;
    background-color: #464545;
    border: 1px solid transparent;
}

form {
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 50%;
    margin: -27px 0 0 0;
    
    &.areResults{
        top: 20px;
        -webkit-transition: top 1s;
        transition: top 1s;
    }
}

html, body, .container, .row, .col-md-12{
    height: 100%;
}

.col-md-12{
    position: relative;
}

.col-md-12, .row{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

h2{
    font-size: 18px;
}

#results-wrapper{   
    margin: 70px 0 0 0;
    padding: 0 0 50px 0;
    visibility: hidden;

    #results{        
        list-style: none;
        padding: 0;
        margin: 0 0 30px 0;
    }

    &.areResults{
        visibility: visible;
        -webkit-transition: visibility 0;
        transition: visibility 0;
        transition-delay: 1s;
    }
}

#prev{
    .pull-left();
}

#next{
    .pull-right();
}

#prev, #next{
    cursor: pointer;

    .glyphicon {
        font-size: 20px;
    }    

    &.disabled{
        color: @text-color;
        cursor: default;
    }
}