﻿@body-bg:               #222;
@text-color:            #fff;
@link-color:            #0ce3ac;
@link-hover-color:      darken(@link-color, 5%);
@link-hover-decoration: none;
@icon-font-path: "../assets/fonts/";